.nav__logo {
  width: 100px !important;
  height: 70px !important;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px !important;
}

.carousel__wrapper {
  height: 600px;
}

.google__formlink {
  text-decoration: none;
  color: #000;
}

.students__img {
  width: 100% !important;
  height: 400px !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px !important;
}

.student__card {
  width: 100%;
  border-radius: 10px !important;
  -webkit-box-shadow: 0px 0px 2px 2px #ddd;
          box-shadow: 0px 0px 2px 2px #ddd;
}

.teacher__card {
  height: 530px !important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 2px #ddd;
          box-shadow: 0px 0px 2px 2px #ddd;
}

.testomonial__students {
  -o-object-fit: cover;
     object-fit: cover;
}

.ilhomjon {
  width: 100% !important;
}

.teacher__img {
  width: 100% !important;
  height: 350px !important;
  -o-object-fit: "contain";
     object-fit: "contain";
  border-radius: 5px 5px 0px 0px;
}

.aboutus__img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.footer__logo {
  width: 100px !important;
  height: 70px !important;
  -o-object-fit: contain;
     object-fit: contain;
}